$primary: #093d66;
$secondary: #ffffff;

$c-blue: #117ACB;

$pelum-primary: #662D91;
$pelum-secondary: #1E033A;

$tika-primary: #EA9E06;
$tika-secondary: #540404;

$yori-primary: #D6092C;
$yori-secondary: #990404;

$seeli-primary: #00A79D;
$seeli-secondary: #9E1F63;


$sio-primary: #F94EA8;
$sio-secondary: #92278F;

$cumbolo-primary: #27AAE1;
$cumbolo-secondary: #006838;


$siesie-primary: #262262;
$siesie-secondary: #1C75BC;

$header-heigth: 90px;