.w-btn-outline-primary{
    background: transparent !important;
    color: $secondary;
    border-radius: 0;
    border: 2px solid $primary;
    display: inline-block;
    // width: 120px;
    padding: 3px;
    span{
        background: $primary;
        display: block;
        height: 100%;
        width: 100%;
        padding: 5px 20px;
    }
    &:focus{
        box-shadow: none;
    }
    &:hover{
        color: $primary;
        border-color: $secondary;
        span{
            background: $secondary;
            color: $primary;
        }
    }
}