.carousel{
    // @media screen and (max-width: 768px) {
    //     display: none;
    // }
   .carousel-indicators{
       li{
           width: 15px;
           height: 15px;
           border-radius: 50%;
           background: $primary;
           &.active{
               background: white;
               border: 2px solid $primary;
           }
       }
   }

   .carousel-item{
       img{
           height: 100%;
           width: 100%;
       }
   }

   .carousel-caption{

    .mobile-img{
        height: 45% !important;
        width: 40% !important;
        margin: 30px auto 30px auto;
        object-fit: contain;
        display: none;
        &.tika{
            height: 48% !important;
        }
        @media screen and (max-width: 768px){
            display: block;
        }
    }
       
       top: 40%;
       text-align: left;
       .title{
           font-size: 40px;
           font-family: AvenirBlack;
           @media screen and (max-width: 768px){
               font-size: 25px;
           }
       }
       .body{
           p{
            font-size: 27px;
            font-family: AvenirLight;
            margin: 0px 0 50px 0;
            @media screen and (max-width: 768px){
                font-size: 20px;
            }
           }
       }
       &.product{
           left: 20%;
           @media screen and (max-width: 768px){
               top: 0;
               right: 0;
               left: 0;
               bottom: 0;
            //    border: 2px solid red;
            //    background: red;
           }
       }

       @media screen and (max-width: 768px){
            top: 20%;
            // background: red;
            left: 0;
            right: 0;
            width: 100%;
            padding: 20px;
            text-align: center;
       }
   }
}