.w-footer{
    background: $primary;
    padding-top: 50px;
    @media screen and (max-width: 768px) {
        padding-top: 0;
    }

    .title, .links a{
        display: block;
        width: 100%;
        text-decoration: none;
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }

    .title{
        font-size: 16px;
        margin-bottom: 20px;
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
        }
    }

    p{
        font-size: 13px;
        display: block;
        text-align: center;
        margin-top: 50px;
        padding-bottom: 30px;
        padding-top: 20px;
        border-top: 1px solid white;
        @media screen and (max-width: 768px) {
            margin-top: 0;
            border-top: none;
        }
    }

    .row{
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}