.w-header{
    height: $header-heigth;
    display: flex;
    justify-content: space-between;
    font-family: AvenirMedium;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease-in;

    // @media screen and (max-width: 768px) {
    //    height: $header-heigth * 0.8;
    // }

    .w-logo{
        margin-left: $header-heigth * 2;
        // background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 70px;
            height: 70px;
        }
        @media screen and (max-width: 768px) {
            margin-left: 50px;
            img{
                width: 50px;
                height: 50px;
            }
        }
    }

    .w-links{
        margin-right: $header-heigth * 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background: red;
        @media screen and (max-width: 768px) {
           flex-grow: 1;
           margin-right: 0;
        }
        a{
            position: relative;
            display: block;
            height: 35%;
            padding: 5px 0;
            margin-right: 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            border-bottom: 3px solid transparent;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &.hover:hover, &.w-active{
                border-bottom-color: white;
            }
            &.hover{
                @media screen and (max-width: 768px) {
                   display: none;
                }
            }
            &.hover-2{
                padding: 5px 15px;
            }
            // &.hover-2:hover{
            //     background: rgba(0, 0, 0, 0.5);
            // }
        }
        #toggleNav {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
}

.w-banner{
    position: relative;
    height: $header-heigth * 5;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        // z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba($color: $primary, $alpha: 0.7);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .body{
        // z-index: 2;
        color: white;
        // background: red;
        position: absolute;
        top: 50%;
        width: 100%;
        padding-left: $header-heigth * 2;
        .title{
            font-size: 40px;
           font-family: AvenirBlack;
           @media screen and (max-width: 768px){
               font-size: 25px;
           }
        }
        p{
            font-family: AvenirMedium;
            font-size: 27px;
            @media screen and (max-width: 768px){
                font-size: 20px;
            }
        }
        @media screen and (max-width: 768px) {
            top: 40%;
            left: 0;
            right: 0;
            width: 100%;
            padding: 10px;
            // background: red;
            text-align: center;
        }
    }

    &.padded{
        border: 15px solid white;
    }
}

.w-mobile-nav{
    display: none;
    background: rgba($color: $primary, $alpha: 0.9);
    color: white;
    position: fixed;
    top: $header-heigth;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // bottom: 0;
    z-index: 20000;
    -moz-transition:  all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    .link-item{
        text-transform: uppercase;
        // background: red;
        border-bottom: 2px solid grey;
        position: relative;
        padding: 10px 0;
        .drop{
            // color: red;
            font-size: 30px;
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .link{
            color: white;
            font-size: 25px;
            text-decoration: none;
            // background: red;
        }
        .dropdown{
            padding-left: 50px;
            a{
                display: block;
                margin: 5px;
                color: white;
                text-decoration: none;
                &.active{
                    border-bottom: 2px solid white;
                }
            }
            display: none;
        }
       &.open{
           display: block;
       }
       &.m-active{
        border-bottom: 2px solid white !important;
    }
    }
    
    // @media screen and (max-width: 768px){
    //     display: block;
    // }
}