body{
    position: relative;
}

.main-body{
    width: 80%;
    margin: auto;
    // margin-bottom: 100px;
    @media screen and (max-width: 1000px) {
        width: 95%;
        &.products{
            width: 100%;
        }
    }
}

.product-item{
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
    .description{
        margin-top: 10px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    .actions{
        width: 100%;
        // background: red;
        margin-top: 40px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        a{
            text-decoration: none;
        }
    }
    &.pelum{
        padding: 0;
        position: relative;
        // height: 500px;
        &:hover{
            background: $pelum-primary;
            color: white !important;
            .body{
                color: white;
            }
        }
        img{
            height: 90%;
            object-fit: cover;
            position: absolute;
            right: 150px;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
        .body{
            // background: red;
            position: absolute;
            left: 260px;
            color: $pelum-primary;
            &:hover{
                color: white;
            }
            .btn{
                border-color: $pelum-primary;
                span{
                    background: $pelum-primary;
                }
                &:hover{
                    color: #ffffff !important;
                }
            }
        }
        @media screen and (max-width: 1407px) {
            // background: red;
            display: flex;
            flex-direction: column;
            height: 400px;
            img{
                width: 150px;
                object-fit: contain;
                right: -10px;
                position: unset;
                margin-bottom: 0
            }
            .body{
                left: 15px;
                font-size: 12px;
                position: relative;
                top: -150px;
                // background: red;
                margin-top: 0;
                text-align: center;
                h4{
                    font-size: 18px;
                }
                p{
                    span{
                        display: block;
                    }
                }
            }
        }
    }
    .white{
        display: none;
    }
    &.should-swap-image:hover{
        .white{
            display: inline;
        }
        .colored{
            display: none;
        }
    }
    &.service{
        // background: #117ACB;
        color: $c-blue;
        img{
            color: white;
            object-fit: cover;
        }
    }
    &.team{
        color: $c-blue;
        &:hover{
            background: $c-blue;
            color: white;
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin-bottom: 10px;
        }
    }
}

.single-product-page{
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    .top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        align-items: center;
        @media screen and (max-width: 768px){
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .right{
            position: relative;
            
            .team-img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                // margin-bottom: -100px;
            }
            &.for-service{
                background: $c-blue;
                padding: 15px;
                border-radius: 50%;
            }
        }
        .left{
            // background: purple;
            padding-right: 70px;
            @media screen and (max-width: 768px){
                padding-right: 0px;
            }
            .bottom{
                display: flex;
            }
            .title{
                margin-bottom: 60px;
                @media screen and (max-width: 768px){
                    display: none;
                    text-align: center;
                }
            }
            .name{
                @media screen and (max-width: 768px){
                    font-size: 25px;
                    margin-top: 10px;
                    text-align: center;
                }
            }
            .heading{
                margin-bottom: 20px;
                @media screen and (max-width: 768px){
                    text-align: center;
                }
            }
            p{
                text-align: justify;
                @media screen and (max-width: 768px){
                   padding: 5px;
                }
            }
        }
    }
    .bottom{
        .actions{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px){
                flex-wrap: wrap;
            }
            .buttons{
                // background: yellow;
                flex-grow: 1;
                @media screen and (max-width: 768px){
                    // display: none;
                    margin-bottom: 30px;
                    text-align: center;
                }
            }
            .controls{
                display: flex;
                justify-content: center;
                width: 240px;
                // background: red;
                &.team{
                    justify-content: flex-end;
                    padding-right: 40px;
                }
                .left, .right{
                    display: inline-block;
                    color: grey;
                    font-size: 40px;
                    // padding: 5p;
                    // background: white;
                    cursor: pointer;
                    &:hover{
                        color: $primary;
                    }
                    margin: 5px;
                    &.disabled{
                        color: #cccccc;
                    }
                }
                .left{
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
    
}

.about-section{
    // background: red;
    padding: 50px;
    &.vision{
        background: $primary;
        color: white;
        ol{
            padding-left: 50px;
            li{
                margin-bottom: 10px;
            }
        }
    }
    h2{
        margin-bottom: 40px;
    }
    // margin-bottom: 20px;
    &.main-body{
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 20px 0px;
        text-align: justify;
    }
}