/*
*   typography
*/
.w-text-white{
    color: white;
}

.w-text-primary{
    color: $primary;
}

.w-text-upper-case{
    text-transform: uppercase;
}

.w-text-capitalize{
    text-transform: capitalize;
}

//product colors
@mixin bgHoverMixin ($color) {
    background: $color !important;
    .description, .actions a{
        color: white !important;
    }
}

@mixin btnMixin($color , $alt: #fff) {
    .btn{
        border-color: $color;
        span{
            background: $color;
        }
        &:hover{
            color: $alt;
            border-color: $alt;
            span{
                background: $alt;
                color: white;
            }
        }
    }
}
.w-text-pelum{
    color: $pelum-primary;
    @include btnMixin($pelum-secondary, $pelum-primary);
}
.w-text-pelum-secondary{
    color: $pelum-secondary;
}
.w-hover-pelum{
    background: $pelum-primary;
}


.w-text-tika{
    @include btnMixin($tika-secondary, $tika-primary);
    color: $tika-primary;
}
.w-text-tika-sedondary{
    color: $tika-secondary;
}
.w-hover-tika:hover{
    @include bgHoverMixin($tika-primary)
}


.w-text-siesie{
    @include btnMixin($siesie-secondary, $siesie-primary);
    color: $siesie-primary !important;
}
.w-text-siesie-sedondary{
    color: $siesie-secondary !important;
}

.w-hover-siesie:hover{
    @include bgHoverMixin($siesie-primary);
}

.w-text-yori{
    @include btnMixin($yori-secondary, $yori-primary);
    color: $yori-primary !important;
}
.w-text-yori-sedondary{
    color: $yori-secondary !important;
}
.w-hover-yori:hover{
    @include bgHoverMixin($yori-primary);
}

.w-text-seeli{
    @include btnMixin($seeli-secondary, $seeli-primary);
    color: $seeli-primary !important;
}
.w-text-seeli-sedondary{
    color: $seeli-secondary !important;
}
.w-hover-seeli:hover{
    @include bgHoverMixin($seeli-primary);
}

.w-text-sio{
    @include btnMixin($sio-secondary, $sio-primary);
    color: $sio-primary !important;
}
.w-text-sio-sedondary{
    color: $sio-secondary !important;
}
.w-hover-sio:hover{
    @include bgHoverMixin($sio-primary);
}

.w-text-cumbolo{
    @include btnMixin($cumbolo-secondary, $cumbolo-primary);
    color: $cumbolo-primary !important;
}
.w-text-cumbolo-sedondary{
    color: $cumbolo-secondary !important;
    @include btnMixin($cumbolo-secondary, $cumbolo-primary);
}
.w-hover-cumbolo:hover{
    @include bgHoverMixin($cumbolo-primary);
}

.w-text-c-blue{
    color: $c-blue;
    @include btnMixin($c-blue, $primary);
}

.w-hover-c-blue:hover{
    @include bgHoverMixin($c-blue);
}




/*
*   backgrounds
*/
.w-bg-primary{
    background: $primary;
}

.w-bg-white{
    background: white;
}