@font-face {
    font-family: AvenirBlack;
    src: url("./../font/Avenir_Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirHeavy;
    src: url("./../font/Avenir_Heavy.otf") format("opentype");
}

@font-face {
    font-family: AvenirLight;
    src: url("./../font/Avenir_Light.otf") format("opentype");
}

@font-face {
    font-family: AvenirMedium;
    src: url("./../font/Avenir_Medium.otf") format("opentype");
}

@import "base";
html{
    background: $primary;
    overflow-x: hidden;
}
body{
    background: white;
    overflow-x: hidden;
    background: $primary;
}
.w3msys{
    background: white;
}
.content{
    margin-top: $header-heigth;
    width: 100%;
    background: white;
}
@import "others";
@import "header";
@import "footer";
@import "button";
@import "carousel";
@import "typos";