@font-face {
  font-family: AvenirBlack;
  src: url("./../font/Avenir_Black.otf") format("opentype"); }
@font-face {
  font-family: AvenirHeavy;
  src: url("./../font/Avenir_Heavy.otf") format("opentype"); }
@font-face {
  font-family: AvenirLight;
  src: url("./../font/Avenir_Light.otf") format("opentype"); }
@font-face {
  font-family: AvenirMedium;
  src: url("./../font/Avenir_Medium.otf") format("opentype"); }
html {
  background: #093d66;
  overflow-x: hidden; }

body {
  background: white;
  overflow-x: hidden;
  background: #093d66; }

.w3msys {
  background: white; }

.content {
  margin-top: 90px;
  width: 100%;
  background: white; }

body {
  position: relative; }

.main-body {
  width: 80%;
  margin: auto; }
  @media screen and (max-width: 1000px) {
    .main-body {
      width: 95%; }
      .main-body.products {
        width: 100%; } }

.product-item {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  background: #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  flex-direction: column; }
  .product-item .description {
    margin-top: 10px; }
    .product-item .description::first-letter {
      text-transform: uppercase; }
  .product-item .actions {
    width: 100%;
    margin-top: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px; }
    .product-item .actions a {
      text-decoration: none; }
  .product-item.pelum {
    padding: 0;
    position: relative; }
    .product-item.pelum:hover {
      background: #662D91;
      color: white !important; }
      .product-item.pelum:hover .body {
        color: white; }
    .product-item.pelum img {
      height: 90%;
      object-fit: cover;
      position: absolute;
      right: 150px;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .product-item.pelum .body {
      position: absolute;
      left: 260px;
      color: #662D91; }
      .product-item.pelum .body:hover {
        color: white; }
      .product-item.pelum .body .btn {
        border-color: #662D91; }
        .product-item.pelum .body .btn span {
          background: #662D91; }
        .product-item.pelum .body .btn:hover {
          color: #ffffff !important; }
    @media screen and (max-width: 768px) {
      .product-item.pelum {
        height: 400px; }
        .product-item.pelum img {
          width: 150px;
          object-fit: contain;
          right: -10px; }
        .product-item.pelum .body {
          left: 15px;
          font-size: 12px; }
          .product-item.pelum .body h4 {
            font-size: 14px; }
          .product-item.pelum .body p span {
            display: block; } }
  .product-item .white {
    display: none; }
  .product-item.should-swap-image:hover .white {
    display: inline; }
  .product-item.should-swap-image:hover .colored {
    display: none; }
  .product-item.service {
    color: #117ACB; }
    .product-item.service img {
      color: white;
      object-fit: cover; }
  .product-item.team {
    color: #117ACB; }
    .product-item.team:hover {
      background: #117ACB;
      color: white; }
    .product-item.team img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin-bottom: 10px; }

.single-product-page {
  padding: 60px 10px;
  display: flex;
  flex-direction: column; }
  .single-product-page .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .single-product-page .top {
        flex-wrap: wrap;
        flex-direction: column-reverse; } }
    .single-product-page .top .right {
      position: relative; }
      .single-product-page .top .right .team-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover; }
      .single-product-page .top .right.for-service {
        background: #117ACB;
        padding: 15px;
        border-radius: 50%; }
    .single-product-page .top .left {
      padding-right: 70px; }
      @media screen and (max-width: 768px) {
        .single-product-page .top .left {
          padding-right: 0px; } }
      .single-product-page .top .left .bottom {
        display: flex; }
      .single-product-page .top .left .title {
        margin-bottom: 60px; }
        @media screen and (max-width: 768px) {
          .single-product-page .top .left .title {
            display: none;
            text-align: center; } }
      @media screen and (max-width: 768px) {
        .single-product-page .top .left .name {
          font-size: 25px;
          margin-top: 10px;
          text-align: center; } }
      .single-product-page .top .left .heading {
        margin-bottom: 20px; }
        @media screen and (max-width: 768px) {
          .single-product-page .top .left .heading {
            text-align: center; } }
      .single-product-page .top .left p {
        text-align: justify; }
        @media screen and (max-width: 768px) {
          .single-product-page .top .left p {
            padding: 5px; } }
  .single-product-page .bottom .actions {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .single-product-page .bottom .actions {
        flex-wrap: wrap; } }
    .single-product-page .bottom .actions .buttons {
      flex-grow: 1; }
      @media screen and (max-width: 768px) {
        .single-product-page .bottom .actions .buttons {
          margin-bottom: 30px;
          text-align: center; } }
    .single-product-page .bottom .actions .controls {
      display: flex;
      justify-content: center;
      width: 240px; }
      .single-product-page .bottom .actions .controls .left, .single-product-page .bottom .actions .controls .right {
        display: inline-block;
        color: grey;
        font-size: 40px;
        cursor: pointer;
        margin: 5px; }
        .single-product-page .bottom .actions .controls .left:hover, .single-product-page .bottom .actions .controls .right:hover {
          color: #093d66; }
        .single-product-page .bottom .actions .controls .left.disabled, .single-product-page .bottom .actions .controls .right.disabled {
          color: #cccccc; }
      .single-product-page .bottom .actions .controls .left {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }

.about-section {
  padding: 50px; }
  .about-section.vision {
    background: #093d66;
    color: white; }
    .about-section.vision ol {
      padding-left: 50px; }
      .about-section.vision ol li {
        margin-bottom: 10px; }
  .about-section h2 {
    margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .about-section.main-body {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .about-section {
      padding: 20px 0px;
      text-align: justify; } }

.w-header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  font-family: AvenirMedium;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all 0.3s ease-in; }
  .w-header .w-logo {
    margin-left: 180px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .w-header .w-logo img {
      width: 70px;
      height: 70px; }
    @media screen and (max-width: 768px) {
      .w-header .w-logo {
        margin-left: 50px; }
        .w-header .w-logo img {
          width: 50px;
          height: 50px; } }
  .w-header .w-links {
    margin-right: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .w-header .w-links {
        flex-grow: 1;
        margin-right: 0; } }
    .w-header .w-links a {
      position: relative;
      display: block;
      height: 35%;
      padding: 5px;
      margin-right: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      border-bottom: 3px solid transparent;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .w-header .w-links a.hover:hover, .w-header .w-links a.w-active {
        border-bottom-color: white; }
      @media screen and (max-width: 768px) {
        .w-header .w-links a.hover {
          display: none; } }
      .w-header .w-links a.hover-2 {
        padding: 5px 15px; }
    .w-header .w-links #toggleNav {
      display: none; }
      @media screen and (max-width: 768px) {
        .w-header .w-links #toggleNav {
          display: block; } }

.w-banner {
  position: relative;
  height: 450px;
  justify-content: center;
  align-items: center; }
  .w-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(9, 61, 102, 0.7); }
  .w-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .w-banner .body {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    padding-left: 180px; }
    .w-banner .body .title {
      font-family: AvenirHeavy;
      font-size: 30px; }
    .w-banner .body p {
      font-family: AvenirMedium; }
    @media screen and (max-width: 768px) {
      .w-banner .body {
        top: 40%;
        left: 0;
        right: 0;
        width: 100%;
        padding: 10px;
        text-align: center; } }

.w-mobile-nav {
  display: none;
  background: rgba(9, 61, 102, 0.9);
  color: white;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll; }
  .w-mobile-nav .link-item {
    text-transform: uppercase;
    border-bottom: 2px solid grey;
    position: relative;
    padding: 10px 0; }
    .w-mobile-nav .link-item .drop {
      font-size: 30px;
      position: absolute;
      right: 5px;
      top: 5px; }
    .w-mobile-nav .link-item .link {
      color: white;
      font-size: 25px;
      text-decoration: none; }
    .w-mobile-nav .link-item .dropdown {
      padding-left: 50px;
      display: none; }
      .w-mobile-nav .link-item .dropdown a {
        display: block;
        margin: 5px;
        color: white;
        text-decoration: none; }
        .w-mobile-nav .link-item .dropdown a.active {
          border-bottom: 2px solid white; }
    .w-mobile-nav .link-item.open {
      display: block; }
    .w-mobile-nav .link-item.m-active {
      border-bottom: 2px solid white !important; }

.w-footer {
  background: #093d66;
  padding-top: 50px; }
  @media screen and (max-width: 768px) {
    .w-footer {
      padding-top: 0; } }
  .w-footer .title, .w-footer .links a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white; }
    .w-footer .title:hover, .w-footer .links a:hover {
      text-decoration: underline; }
  .w-footer .title {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .w-footer .title:hover {
      text-decoration: none; }
  .w-footer p {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid white; }
    @media screen and (max-width: 768px) {
      .w-footer p {
        margin-top: 0;
        border-top: none; } }
  @media screen and (max-width: 768px) {
    .w-footer .row {
      display: none; } }

.w-btn-outline-primary {
  background: transparent !important;
  color: #ffffff;
  border-radius: 0;
  border: 2px solid #093d66;
  display: inline-block;
  padding: 3px; }
  .w-btn-outline-primary span {
    background: #093d66;
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px 20px; }
  .w-btn-outline-primary:focus {
    box-shadow: none; }
  .w-btn-outline-primary:hover {
    color: #093d66;
    border-color: #ffffff; }
    .w-btn-outline-primary:hover span {
      background: #ffffff;
      color: #093d66; }

.carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #093d66; }
  .carousel .carousel-indicators li.active {
    background: white;
    border: 2px solid #093d66; }
.carousel .carousel-item img {
  height: 100%;
  width: 100%; }
.carousel .carousel-caption {
  top: 40%;
  text-align: left; }
  .carousel .carousel-caption .mobile-img {
    height: 45% !important;
    width: 40% !important;
    margin: 30px auto 30px auto;
    object-fit: contain;
    display: none; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-caption .mobile-img {
        display: block; } }
  .carousel .carousel-caption .title {
    font-size: 40px;
    font-family: AvenirBlack; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-caption .title {
        font-size: 25px; } }
  .carousel .carousel-caption .body p {
    font-size: 27px;
    font-family: AvenirLight;
    margin: 0px 0 50px 0; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-caption .body p {
        font-size: 20px; } }
  .carousel .carousel-caption.product {
    left: 20%; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-caption.product {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; } }
  @media screen and (max-width: 768px) {
    .carousel .carousel-caption {
      top: 20%;
      left: 0;
      right: 0;
      width: 100%;
      padding: 20px;
      text-align: center; } }

/*
*   typography
*/
.w-text-white {
  color: white; }

.w-text-primary {
  color: #093d66; }

.w-text-upper-case {
  text-transform: uppercase; }

.w-text-capitalize {
  text-transform: capitalize; }

.w-text-pelum {
  color: #662D91; }
  .w-text-pelum .btn {
    border-color: #1E033A; }
    .w-text-pelum .btn span {
      background: #1E033A; }
    .w-text-pelum .btn:hover {
      color: #662D91;
      border-color: #662D91; }
      .w-text-pelum .btn:hover span {
        background: #662D91;
        color: white; }

.w-text-pelum-secondary {
  color: #1E033A; }

.w-hover-pelum {
  background: #662D91; }

.w-text-tika {
  color: #EA9E06; }
  .w-text-tika .btn {
    border-color: #540404; }
    .w-text-tika .btn span {
      background: #540404; }
    .w-text-tika .btn:hover {
      color: #EA9E06;
      border-color: #EA9E06; }
      .w-text-tika .btn:hover span {
        background: #EA9E06;
        color: white; }

.w-text-tika-sedondary {
  color: #540404; }

.w-hover-tika:hover {
  background: #EA9E06 !important; }
  .w-hover-tika:hover .description, .w-hover-tika:hover .actions a {
    color: white !important; }

.w-text-siesie {
  color: #262262 !important; }
  .w-text-siesie .btn {
    border-color: #1C75BC; }
    .w-text-siesie .btn span {
      background: #1C75BC; }
    .w-text-siesie .btn:hover {
      color: #262262;
      border-color: #262262; }
      .w-text-siesie .btn:hover span {
        background: #262262;
        color: white; }

.w-text-siesie-sedondary {
  color: #1C75BC !important; }

.w-hover-siesie:hover {
  background: #262262 !important; }
  .w-hover-siesie:hover .description, .w-hover-siesie:hover .actions a {
    color: white !important; }

.w-text-yori {
  color: #D6092C !important; }
  .w-text-yori .btn {
    border-color: #990404; }
    .w-text-yori .btn span {
      background: #990404; }
    .w-text-yori .btn:hover {
      color: #D6092C;
      border-color: #D6092C; }
      .w-text-yori .btn:hover span {
        background: #D6092C;
        color: white; }

.w-text-yori-sedondary {
  color: #990404 !important; }

.w-hover-yori:hover {
  background: #D6092C !important; }
  .w-hover-yori:hover .description, .w-hover-yori:hover .actions a {
    color: white !important; }

.w-text-seeli {
  color: #00A79D !important; }
  .w-text-seeli .btn {
    border-color: #9E1F63; }
    .w-text-seeli .btn span {
      background: #9E1F63; }
    .w-text-seeli .btn:hover {
      color: #00A79D;
      border-color: #00A79D; }
      .w-text-seeli .btn:hover span {
        background: #00A79D;
        color: white; }

.w-text-seeli-sedondary {
  color: #9E1F63 !important; }

.w-hover-seeli:hover {
  background: #00A79D !important; }
  .w-hover-seeli:hover .description, .w-hover-seeli:hover .actions a {
    color: white !important; }

.w-text-sio {
  color: #F94EA8 !important; }
  .w-text-sio .btn {
    border-color: #92278F; }
    .w-text-sio .btn span {
      background: #92278F; }
    .w-text-sio .btn:hover {
      color: #F94EA8;
      border-color: #F94EA8; }
      .w-text-sio .btn:hover span {
        background: #F94EA8;
        color: white; }

.w-text-sio-sedondary {
  color: #92278F !important; }

.w-hover-sio:hover {
  background: #F94EA8 !important; }
  .w-hover-sio:hover .description, .w-hover-sio:hover .actions a {
    color: white !important; }

.w-text-cumbolo {
  color: #27AAE1 !important; }
  .w-text-cumbolo .btn {
    border-color: #006838; }
    .w-text-cumbolo .btn span {
      background: #006838; }
    .w-text-cumbolo .btn:hover {
      color: #27AAE1;
      border-color: #27AAE1; }
      .w-text-cumbolo .btn:hover span {
        background: #27AAE1;
        color: white; }

.w-text-cumbolo-sedondary {
  color: #006838 !important; }
  .w-text-cumbolo-sedondary .btn {
    border-color: #006838; }
    .w-text-cumbolo-sedondary .btn span {
      background: #006838; }
    .w-text-cumbolo-sedondary .btn:hover {
      color: #27AAE1;
      border-color: #27AAE1; }
      .w-text-cumbolo-sedondary .btn:hover span {
        background: #27AAE1;
        color: white; }

.w-hover-cumbolo:hover {
  background: #27AAE1 !important; }
  .w-hover-cumbolo:hover .description, .w-hover-cumbolo:hover .actions a {
    color: white !important; }

.w-text-c-blue {
  color: #117ACB; }
  .w-text-c-blue .btn {
    border-color: #117ACB; }
    .w-text-c-blue .btn span {
      background: #117ACB; }
    .w-text-c-blue .btn:hover {
      color: #093d66;
      border-color: #093d66; }
      .w-text-c-blue .btn:hover span {
        background: #093d66;
        color: white; }

.w-hover-c-blue:hover {
  background: #117ACB !important; }
  .w-hover-c-blue:hover .description, .w-hover-c-blue:hover .actions a {
    color: white !important; }

/*
*   backgrounds
*/
.w-bg-primary {
  background: #093d66; }

.w-bg-white {
  background: white; }

/*# sourceMappingURL=main.css.map */
