<template>
    <div class="content">
        <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-260973.jpeg', title: 'We are here to serve you', message: 'Software Development. Brand Development. Data Science. Biocomputing.'}"></w-banner>
       <section class="about-section" id="wwa">
           <div class="main-body w-text-c-blue">
               <h2>Who We Are</h2>
               <p>
                   W3MSYS is a registered company in Ghana, and specializes in the application of computing, mathematics, engineering, creative arts and evolutionary biology in developing information technology tools and systems for solving everyday problems in industries, schools, workplaces, playing grounds and home.
<br><br>
Our team is made up of experienced programmers, scientists and researchers. W3MSYS also believes in innovative research; it thus funds cutting edge research in information technology.

               </p>
            </div>
       </section>

       <section class="about-section vision" id="mav">
            <div class="main-body">
               <h2>OUR VISION</h2>
               <p>W3MSYS aspires to be the leader in Information Technology Solutions and Functional Designs, globally.</p>
            </div>
            <br><br>
            <div class="main-body">
               <h2>OUR MISSION</h2>
               <p>W3MSYS aims
                   <ol>
                       <li>To introduce timely software and mathematical solutions backed by substantive research to individuals and industries in Ghana and beyond.</li>
                       <li>To bridge the gap between consumers and producers in all industries, through software development, mathematics, and machine learning.</li>
                       <li>To provide information required for planning, assessment and overall evaluation of the performance of institutions, both private and public, globally.</li>
                   </ol>
                </p>
            </div>
       </section>
       <w-banner extraClass="padded" :info="{image: '/static/img/backgrounds/pexels-photo-1035598.jpeg', title: 'Our Team', message: 'We have experienced personnel who have keen interest to serve you.'}"></w-banner>
       <section class="about-section" id="ot">
           <w-team></w-team>
       </section>

        <section class="about-section" id="#">
           <div class="main-body w-text-c-blue">
               <h2>Collaboration</h2>
               <p>
                 W3MSYS has a strong research collaboration with scientists at the University of Ghana and Kwame Nkrumah University of Science & Technology, who are conducting cutting-edge research in the Telecommunication, Computer Science, Mathematics, Actuarial Sciences, Communication Design, and Biomedical Sciences disciplines.
               </p>
            </div>
       </section>

    </div>
</template>

<script>
import WBanner from './commons/banner.vue';
import WTeam from './team.vue';
export default {
    components: {WBanner, WTeam},
    computed: {
        teams () {
            return this.$store.getters.getTeam;
        }
    },
    mounted () {
        let section = this.$route.query.section
        $('html, body').animate({
            scrollTop: ($(`#${section}`).offset().top - 100)
        },500);
    }
}
</script>

<style>

</style>
