<template>
<div class="content">
    <div class="w-hero"></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/img/home-sliders/banner1.jpg" alt="First slide">
                <div class="carousel-caption d-block">
                    <h5 class="title">Welcome to W3MSYS</h5>
                    <div class="body">
                        <p>We provide bespoke products and services in Information Technology</p>

                        <router-link :to="{name: 'products'}" tag="button" class="btn w-btn-outline-primary w-text-upper-case mr-4"><span>products</span></router-link>
                        <router-link :to="{name: 'services'}" tag="button" class="btn w-btn-outline-primary w-text-upper-case"><span>services</span></router-link>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/home-sliders/banner2.jpg" alt="Second slide">
                <div class="carousel-caption d-block w-text-pelum product">
                    <img class="mobile-img" src="/static/img/phone/phone1.png">
                    <h5 class="title">Pelum is Comfort. Stay Comfortable. </h5>
                    <div class="body">
                        <p>A mobile app meant to make life comfortable for you.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/home-sliders/banner3.jpg" alt="Third slide">
                <div class="carousel-caption d-block w-text-tika-sedondary product">
                     <img class="mobile-img tika" src="/static/img/phone/tika-phone-and-shadow.png">
                    <h5 class="title">Get Tika. Get Satisfied. </h5>
                    <div class="body">
                        <p>A mobile app meant to bring you satisfaction.</p>
                    </div>
                </div>
            </div>

             <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/home-sliders/banner4.jpg" alt="Fourth slide">
                <div class="carousel-caption d-block">
                    <h5 class="title">Your Brand is You! </h5>
                    <div class="body">
                        <p>How superbrand are you among other brands? We're here to help you.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="/static/img/home-sliders/banner5.jpg" alt="Fith slide">
                <div class="carousel-caption d-block">
                    <h5 class="title">Every Step Matters! </h5>
                    <div class="body">
                        <p>We help you craft highly secure, functionally efficient and visually appealing software<br> for all purposes and platforms.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</template>

<script>
export default {
    mounted() {
        let carousel = $('.carousel-item')
       carousel.css({
           height: (window.innerHeight - 90) + 'px',
           width: window.innerWidth + 'px'
       })
        carousel.find('img').css({
            height: '100%',
            objectFit: 'cover'
        })
    }
}
</script>
