<template>
    <div class="content" style="margin-bottom:15px;">
        <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-920382.jpeg', title: 'Our Apps are designed for You', message: 'They are meant to satisfy your deepest cravings. Take a look.'}"></w-banner>
       <div class="main-body products" style="margin-top:15px;">
           
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6" v-for="product in products.slice(0, 4)" :key="product.id">
                    <w-product-item :product="product"></w-product-item>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6" v-for="product in products.slice(4, products.length - 1)" :key="product.id">
                    <w-product-item :product="product"></w-product-item>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="product-item pelum">
                        <img src="/static/img/phone/phone1.png">
                        <!-- <img src="/static/img/phone/shadow.png"> -->
                        <div class="body">
                            <h4>Pelum is Comfort. Stay Comfortable. </h4>
                            <p>A mobile app meant to make life comfotable  <span>for you.</span></p>
                            <router-link :to="{name: 'singleproduct', params: {product_id: 7}}" class="btn w-btn-outline-primary w-text-upper-case mr-4"><span>check it out</span></router-link>
                        </div>
                    </div>
                </div>
            </div>
            
       </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue';
import WProductItem from './commons/product-item.vue';
export default {
    components: {WBanner, WProductItem},
    computed: {
        products () {
            return this.$store.getters.getProducts;
        }
    }
}
</script>

<style>

</style>
