<template>
    <div class="content" style="margin-bottom:15px;">
        <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-1011329.jpeg', title: 'Best IT services you can always rely on', message: 'W3MSYS cares to provide bespoke softwares, Branding and data services.'}"></w-banner>
       <div class="main-body products" style="margin-top:15px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6" v-for="service in services" :key="service.id">
                    <w-service-item :service="service"></w-service-item>
                </div>
            </div>
       </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue';
import WServiceItem from './commons/service-item.vue';
export default {
    components: {WBanner, WServiceItem},
    computed: {
        services () {
            return this.$store.getters.getServices;
        }
    }
}
</script>

<style>

</style>
