<template>
    <div class="content">
        <!-- <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-920382.jpeg', title: 'Our Apps are designed for You', message: 'They are meant to satisfy your deepest cravings. Take a look.'}"></w-banner> -->
        <div class="main-body">
            <div class="single-product-page w-text-c-blue">
                <div class="top">
                    <div class="left">
                        <h3 class="name w-text-upper-case">{{service.name}}</h3>
                        <br/><br/>
                        <!-- <h4 class="heading">{{team.role}}</h4> -->
                        <p> {{service.content}}</p>
                    </div>
                    <div class="right for-service">
                        <img class="team-img" :src="`/static/img/service-icons-png/${service.image}-white.png`"/>
                    </div>
                </div>
                <div class="bottom">
                     <div class="actions">
                        <div class="buttons">
                            <a href="mailto:info@w3msys.com" class="btn w-btn-outline-primary w-text-upper-case" style="color:white;"><span>Order for Service </span></a>
                        </div>
                        <div class="controls">
                            <span class="fa fa-play left" :class="{'disabled': service.id == 1}" @click="setService(service.id - 1)"></span>
                            <span class="fa fa-play right" :class="{'disabled': service.id == services.length}" @click="setService(service.id + 1)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue'
export default {
    components: {WBanner},
    props: ['service_id'],
    computed: {
        service () {
            return this.$store.getters.getSelectedService || {};
        },
        services () {
            return this.$store.getters.getServices;
        }
    },
    methods: {
        setService (id) {
            if (id > this.services.length || id < 1) return
            this.$store.dispatch('setSelectedService', id)
        }
    },
    mounted () {
      this.$store.dispatch('setSelectedService', this.service_id)
      $('html, body').animate({
            scrollTop: (0)
        },500);
    },
    watch: {
        service_id () {
            this.$store.dispatch('setSelectedService', this.service_id)
        }
    }
}
</script>

<style>

</style>
