<template>
    <div class="content">
        <!-- <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-920382.jpeg', title: 'Our Apps are designed for You', message: 'They are meant to satisfy your deepest cravings. Take a look.'}"></w-banner> -->
        <div class="main-body">
            <div class="single-product-page w-text-c-blue">
                <div class="top">
                    <div class="left">
                        <h1 class="name w-text-upper-case">{{team.name}}</h1>
                        <h4 class="heading">{{team.role}}</h4>
                        <p> {{team.content}}</p>
                    </div>
                    <div class="right">
                        <img class="team-img" :src="`/static/img/team/${team.image}`"/>
                    </div>
                </div>
                <div class="bottom">
                     <div class="actions">
                        <div class="buttons">
                            <a :href="'mailto:' + team.email" class="btn w-btn-outline-primary w-text-upper-case"><span>Send E-mail </span></a>
                        </div>
                        <div class="controls team">
                            <span class="fa fa-play left" :class="{'disabled': team.id == 1}" @click="setTeam(team.id - 1)"></span>
                            <span class="fa fa-play right" :class="{'disabled': team.id == teams.length}" @click="setTeam(team.id + 1)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue'
export default {
    components: {WBanner},
    props: ['team_id'],
    computed: {
        team () {
            return this.$store.getters.getSelectedTeam || {};
        },
        teams () {
            return this.$store.getters.getTeam;
        },
        productStyle () {
            if (this.product.name === 'cumbolo') {
                return `w-text-cumbolo-sedondary`
            }
            return `w-text-${this.product.name}`
        }
    },
    methods: {
        setTeam (id) {
            if (id > this.teams.length || id < 1) return
            this.$store.dispatch('setSelectedTeam', id)
        }
    },
    mounted () {
        this.$store.dispatch('setSelectedTeam', this.team_id)

        $('html, body').animate({
            scrollTop: (0)
        },500);
    },
    watch: {
        team_id () {
            this.$store.dispatch('setSelectedTeam', this.team_id)
        }
    }
}
</script>

<style>

</style>
