<template>
    <div class="content">
        <!-- <w-banner :info="{image: '/static/img/backgrounds/pexels-photo-920382.jpeg', title: 'Our Apps are designed for You', message: 'They are meant to satisfy your deepest cravings. Take a look.'}"></w-banner> -->
        <div class="main-body">
            <div class="single-product-page" :class="productStyle">
                <div class="top">
                    <div class="left">
                        <h1 class="title w-text-upper-case">{{product.name}}</h1>
                        <h4 class="heading">{{product.title}}</h4>
                        <p> {{product.content}}</p>
                    </div>
                    <div class="right">
                        <img :src="`/static/img/icons-color/${product.name}-colour.png`"/>
                    </div>
                </div>
                <div class="bottom">
                     <div class="actions">
                        <div class="buttons">
                            <button @click="showModal" class="btn w-btn-outline-primary w-text-upper-case"><span>download app</span></button>
                        </div>
                        <div class="controls">
                            <span class="fa fa-play left" :class="{'disabled': product.id == 1}" @click="setProduct(product.id - 1)"></span>
                            <span class="fa fa-play right" :class="{'disabled': product.id == products.length}" @click="setProduct(product.id + 1)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content " :class="productStyle" style="border-radius:0;color:white;">
                <div class="modal-header" :style="{color: product.name == 'tika' ? '#EA9E06' : product.name == 'pelum' ? '#662D91' : ''}">
                    <h5 class="modal-title" style="text-align:center !important;">Download {{product.name.toUpperCase()}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" :style="{color: product.name == 'tika' ? '#EA9E06' : product.name == 'pelum' ? '#662D91' : ''}">
                    <p class="text-center">{{product.name.toUpperCase()}} is not yet ready. Please leave your email and we will notify you onces its ready.</p>
                    <div class="form-group">
                        <input type="text" name="email" v-model="email" v-validate="'required|email'" placeholder="Enter Your Email" class="form-control download-email">
                        <label class="text-danger mt-2" v-if="errors.has('email')">{{errors.first('email')}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger" style="border-radius:0;" data-dismiss="modal">Close</button> -->
                    <button @click="subscribe" class="btn w-btn-outline-primary w-text-upper-case"><span>Subscribe</span></button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue'
export default {
    components: {WBanner},
    props: ['product_id'],
    data () {
        return {
            email: ''
        }
    },
    computed: {
        product () {
            return this.$store.getters.getSelectedProduct || {};
        },
        products () {
            return this.$store.getters.getProducts;
        },
        productStyle () {
            if (this.product.name === 'cumbolo') {
                return `w-text-cumbolo-sedondary`
            }
            return `w-text-${this.product.name}`
        }
    },
    methods: {
        setProduct (id) {
            if (id > this.products.length || id < 1) return
            this.$store.dispatch('setSelectedProduct', id)
            this.$route.params.product_id = id
        },
        showModal () {
            $('#downloadModal').modal('show')
        },
        subscribe () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    console.log('subscribing...')
                    $('#downloadModal').modal('hide')
                }
            })
        }
    },
    mounted () {
      this.$store.dispatch('setSelectedProduct', this.product_id)
      $('html, body').animate({
            scrollTop: (0)
        },500);
    },
    watch: {
        product_id () {
            this.$store.dispatch('setSelectedProduct', this.product_id)
        }
    }
}
</script>

<style scoped>
    .download-email{
        border-radius: 0;
    }
    .download-email:focus{
        box-shadow: none;
    }
</style>
