<template>
    <div class="main-body products">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6" v-for="team in teams" :key="team.id">
                <w-team-item :team="team"></w-team-item>
            </div>
        </div>
    </div>
</template>

<script>
import WBanner from './commons/banner.vue';
import WTeamItem from './commons/team-item.vue';
export default {
    components: {WBanner, WTeamItem},
    computed: {
        teams () {
            return this.$store.getters.getTeam;
        }
    }
}
</script>

<style>

</style>
