<template>
    <div class="w-banner" :class="extraClass" id="wbanner">
        <img :src="info.image">
        <div class="body">
            <h1 class="title">{{info.title}}</h1>
            <p>{{info.message}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['info', 'extraClass'],
    mounted() {
        document.getElementById('wbanner').style.height = (window.innerHeight - 90) + 'px'
    },
}
</script>

<style>

</style>
