<template>
    <footer class="w-footer w-text-white">
       <div class="container">
           <div class="row">
               <div class="col-12 col-sm-6 col-md-3">
                   <a href="#" class="title">About us</a>
                   <div class="links">
                       <router-link :to="{name: 'about', query: {section: 'wwa'}}" tag="a" href="javascript:void(0)">Who We Are</router-link>
                       <router-link :to="{name: 'about', query: {section: 'mav'}}" tag="a" href="javascript:void(0)">Mission & Vision</router-link>
                       <router-link :to="{name: 'about', query: {section: 'ot'}}" tag="a" href="javascript:void(0)">Our Team</router-link>
                       <router-link :to="{name: 'about', query: {section: 'c'}}" tag="a" href="javascript:void(0)">Collaboration</router-link>
                   </div>
               </div>

               <div class="col-12 col-sm-6 col-md-2">
                   <a href="#" class="title">products</a>
                   <div class="links">
                       <router-link style="text-transform:capitalize;" v-for="(product, index) in products" :key="index" :to="{name: 'singleproduct', params: {product_id: product.id}}" href="javascript:void(0)">{{product.name}}</router-link>
                   </div>
               </div>

               <div class="col-12 col-sm-6 col-md-3">
                   <a href="#" class="title">services</a>
                   <div class="links">
                       <router-link style="text-transform:capitalize;" v-for="(service, index) in services" :key="index" :to="{name: 'singleservice', params: {service_id: service.id}}" href="javascript:void(0)">{{service.name}}</router-link>
                   </div>
               </div>

               <div class="col-12 col-sm-6 col-md-4">
                   <a href="#" class="title">Contact us</a>
                   <div class="links">
                       <div>
                           H/No. 11, Olympic St, Kokomlemle, Accra<br>
                            Ghana PostGPS: GA-0706669<br>
                            P. O . Box GP 20259, Accra +233 54 391 3833
                            <a href="mailto:info@w3msys.com">info@w3msys.com</a>
                       </div>
                   </div>
               </div>
           </div>
           <p>Copyright © {{copyrightYear}}. W3MSYS. All Rights Reserved. Privacy Policy | Terms of Use</p>
       </div>
    </footer>
</template>

<script>
    export default{
        computed: {
            products () {
                return this.$store.getters.getProducts
            },
            services () {
                return this.$store.getters.getServices
            },
            copyrightYear () {
                return new Date().getFullYear();
            }
        }
    }
</script>