<template>
    <header class="w-header w-bg-primary w-text-white">
        <div class="w-logo">
            <img src="/static/img/icons-white/W3MSYS-logo-white.png">
        </div>
        <div class="w-links">
            <router-link :to="{name: 'home'}" tag="a" active-class="w-active" href="javascript:void(0)" class="hover">Home</router-link>
            <router-link :to="{name: 'products'}" tag="a" href="javascript:void(1)" active-class="w-active" class="hover" :class="{'w-active': $route.name === 'singleproduct'}">products</router-link>
            <router-link :to="{name: 'services'}" href="javascript:void(0)" tag="a" active-class="w-active" class="hover" :class="{'w-active': $route.name === 'singleservice'}">services</router-link>
            <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" active-class="w-active" class="hover" :class="{'w-active': $route.name === 'singleteam'}">About w3msys</router-link>
            <!-- <a href="#" class="hover-2"><span class="fa fa-search"></span></a> -->
            <a href="javascript:void(0)" @click="toggleMobileNav" id="toggleNav" class="hover-2"><span class="fa fa-bars"></span></a>
        </div>
    </header>
</template>

<script>
export default {
    data () {
        return {
            navOpened: false
        }
    },
    methods: {
        toggleMobileNav () {
            let icon = $('#toggleNav').find('.fa')
            let nav = $('.w-mobile-nav')
            if (nav.hasClass('is-open')) {
                nav.css({display: 'none'})
                nav.removeClass('is-open')
                icon.removeClass('fa-times')
                icon.addClass('fa-bars')
            } else {
                nav.css({display: 'block'})
                nav.addClass('is-open')
                icon.removeClass('fa-bars')
                icon.addClass('fa-times')
            }
        }
    }
}
</script>
