<template>
    <nav class="w-mobile-nav">
       <div class="link-item">
           <router-link :to="{name: 'home'}" tag="a" active-class="m-active" class="link" href="javascript:void(0)">
               <span>Home</span>
           </router-link>
       </div>
        <div class="link-item">
           <a class="link" href="javascript:void(0)">
               <span>Products</span>
               <span class="drop fa fa-angle-down"></span>
           </a>
           <div class="dropdown" id="products">
               <router-link :to="{name: 'products'}" tag="a" href="javascript:void(0)" class="item">All Products</router-link>
               <router-link v-for="product in products" :key="product.id" active-class="active" :to="{name: 'singleproduct', params: {product_id: product.id}}" tag="a" class="item">{{product.name}}</router-link>
           </div>
       </div>

       <div class="link-item">
           <a class="link" href="javascript:void(0)">
               <span>Services</span>
               <span class="drop fa fa-angle-down"></span>
           </a>
           <div class="dropdown" id="services">
               <router-link :to="{name: 'services'}" tag="a" href="javascript:void(0)" class="item">All Services</router-link>
               <router-link v-for="service in services" :key="service.id" :to="{name: 'singleservice', params: {service_id: service.id}}" tag="a" href="javascript:void(0)" class="item">{{service.name}}</router-link>
           </div>
       </div>

       <div class="link-item">
           <a class="link" href="javascript:void(0)">
               <span>About w3msys</span>
               <span class="drop fa fa-angle-down"></span>
           </a>
           <div class="dropdown" id="about">
               <!-- <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" class="item">About Us</router-link> -->
              <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" class="item">Who We are</router-link>
               <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" class="item">Mission & Vision</router-link>
               <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" class="item">Our team</router-link>
               <router-link :to="{name: 'about'}" tag="a" href="javascript:void(0)" class="item">Collaborations</router-link>
           </div>
       </div>
    </nav>
</template>

<script>
export default {
    computed: {
        products () {
            return this.$store.getters.getProducts
        },
        services () {
            return this.$store.getters.getServices;
        }
    },
    mounted () {
        $(document).on('click', '.link-item', function (event) {
            // console.log(this)
            let el = $(this)
            // console.log(el.find('.dropdown').attr('id'))
            $('.dropdown').each(function() {
                let dropdown = $(this)
                if (dropdown.attr('id') != el.find('.dropdown').attr('id')) {
                   dropdown.slideUp()
                   dropdown.parent().removeClass('m-active')
                   dropdown.parent().find('.fa').removeClass('fa-angle-up')
                   dropdown.parent().find('.fa').addClass('fa-angle-down')
                }
            })
            el.find('.dropdown').slideDown()
            el.addClass('m-active')
            el.find('.fa').removeClass('fa-angle-down')
            el.find('.fa').addClass('fa-angle-up')
        })
    }
}
</script>
