<template>
    <div class="product-item should-swap-image" :class="'w-hover-' + product.name">
        <img class="colored" :src="`/static/img/icons-color/${product.name}-colour.png`">
        <img class="white" :src="`/static/img/icons-white/${product.name}-white.png`">
        <p class="description text-center" :class="'w-text-' + product.name + '-sedondary'">
            {{product.description}}
        </p>
        <div class="actions">
            <router-link :to="{name: 'singleproduct', params: {product_id: product.id}}" class="check-it-out float-right" :class="`w-text-${product.name}`" href="#">Check it out</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: ['product'],
    mounted () {
        if (window.innerWidth < 768) {
           let elements = document.getElementsByClassName('product-item')
           for(let element of elements) {
               element.style.height = (window.innerHeight - 70) + 'px'
           }
        }
    }
}
</script>

<style>

</style>
