<template>
    <div class="product-item service should-swap-image w-hover-c-blue">
        <img class="colored" :src="`/static/img/service-icons-png/${service.image}-blue.png`">
        <img class="white" :src="`/static/img/service-icons-png/${service.image}-white.png`">
        <p class="description text-center" style="text-transform:capitalize;">
            {{service.name}}
        </p>
        <div class="actions">
            <router-link :to="{name: 'singleservice', params: {service_id: service.id}}" tag="a"  class="check-it-out float-right"  href="javascript:void(0)">
                More
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: ['service']
}
</script>

<style>

</style>
