<template>
    <router-link :to="{name: 'singleteam', params: {team_id: team.id}}" tag="div" class="product-item team">
        <img class="colored" :src="`/static/img/team/${team.image}`">
        <!-- <img class="white" :src="`/static/img/icons-white/${product.name}-white.png`"> -->
        <p class="description text-center">
            {{team.name}} <br>
            {{team.role}}
        </p>
    </router-link>
</template>

<script>
export default {
    props: ['team']
}
</script>

<style>

</style>
