<template>
<div class="w3msys">
  <w-header></w-header>
  <w-mobile-nav></w-mobile-nav>
  <router-view/>
  <w-footer></w-footer>
</div>
</template>

<script>
import {WHeader, WFooter, WMobileNav} from './components';
export default {
  name: 'App',
  components: {WHeader, WFooter, WMobileNav}
}
</script>